<!-- <div class="by-5 w-100">
    <img src="https://i.imgur.com/fbtNMsu.jpg" alt="">
</div> -->

<div class="container">

    <div class="inicio by-5">
        <h1 class="card-title text-center">Bem vindxs ao HORTIFRUTI</h1>

        <p class="card-text text-center my-5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
            facilis
            perferendis, ipsam magnam enim repellendus quod laudantium exercitationem a corrupti similique, ex, aperiam
            provident iste necessitatibus nesciunt quaerat id asperiores!

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere voluptas nesciunt iusto numquam ut
            quia aperiam fuga, velit corporis rem at quod perferendis quisquam cum odio hic consequuntur dignissimos.

        </p>
    </div>

</div>