
<div class="container-fluid">
 
        <h1 class="card-title text-center d-flex justify-content-center align-items-center">Bem vindxs ao HORTIFRUTI
        </h1>
        
        <div class="">            
            <hr class="col-5 mb-5">

            <p class="card-text text-center h5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
                facilis
                perferendis, ipsam magnam enim repellendus quod laudantium exercitationem a corrupti similique, ex,
                aperiam
                provident iste necessitatibus nesciunt quaerat id asperiores!

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere voluptas nesciunt iusto
                numquam ut
                quia aperiam fuga, velit corporis rem at quod perferendis quisquam cum odio hic consequuntur
                dignissimos.

            </p>
        </div>   
</div>